/*Title*/

h1{
    text-align: center;
}

.h1__english{
    text-align: center;
}


/*Greeting*/

#Greeting{
    height: 1000px;
    background-image: url(../css/img/aboutbg.png);
    background-size: cover;
}

.Greeting__container{
    padding-top: 100px;
    color: var(--color-white);
}

#colorwhite{
    color: var(--color-white);
}

.Greeting__container2{
    max-width: 100vh;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--color-white);
}
.Greeting__container2 img{
    display: block;
    object-fit: cover;
    width: 100vh;
    height: 300px;
}

.description{
    height: 40vh;
    font-size: var(--font-semi-small);
    font-weight: var(--weight-light);
    color: var(--color-black);
    margin: 20px;
    line-height: 28px;
    background-color: white;
    padding: 20px;
  }

.point{
    font-weight: var(--weight-bold);
    font-size: 22px;
    line-height: 80px;
    display: block;
}


/*History*/

#History{
    height: 700px;
}

.History__container{
    padding-top: 50px;
}

.History__container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.History__container2 table{
    table-layout:fixed;
    width:100%;
    text-align:center;
    max-width: 1000px;
    padding: 10px;
}

.History__container2 table th{
    background:#f1f1f1;
}

.History__container2 table td, 
.History__container2 table th{
    padding:10px 20px;
    border-top:1px solid #f1f1f1;
    word-break:break-all
}

.History__container2 table tr th:first-child{
    width: 15%;
}

.History__container2 table tr th:nth-child(2){
    width: 15%;
}


/*for below 768px screen width*/
@media screen and (max-width: 768px) {
    h1 {
      font-size: var(--font-medium);
      font-weight: var(--weight-bold);
      color: var(--color-black);
      margin: 16px 0px;
    }
  
    p {
      font-size: var(--font-small);
      font-weight: var(--weight-regular);
      color: var(--color-black);
      margin: 4px 0;
    }

    .Greeting__container2 {
      flex-direction: column;
    }

    #Greeting{
        outline : 1px solid red;
        height: 1000px;
    }
    .Greeting__container2 img{
        width: 100%;
        object-fit: cover;
    }

    .Greeting__container2 p span{
        display: inline;
    }

    .description{
        height: 50vh;
    }

    #History{
        outline : 1px solid red;
        height: 800px;
    }

    .History__container2 table tr th:first-child{
        width: 20%;
    }
    
    .History__container2 table tr th:nth-child(2){
        width: 20%;
    }

    }